/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  --primary-color: #d71921;
  --secondary-color: #9333ea;
}

.bg-primary {
  color: var(--primary-color);
}

body {
  font-family: "Atkinson Hyperlegible Next", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

ion-header {
  box-shadow: none !important;
}

ion-toolbar {
  box-shadow: none;
}
